.color-primary-0 { color: #99CD32 }	/* Main Primary color */
.color-primary-1 { color: #CDF283 }
.color-primary-2 { color: #B4E356 }
.color-primary-3 { color: #7AAC16 }
.color-primary-4 { color: #5C8803 }

body {
  margin: 0;
    background: url(imagenes/fondoverde.jpg) no-repeat center fixed;
    background-size: cover;
    font-family: "Segoe UI", "Helvetica Neue",Helvetica,sans-serif;
    margin-left: auto;
    margin-right: auto;
}
header {
  top:0;
  left:0;
  position: fixed;
    width: 100%;
    height: 75px;
    background-color: rgba(0, 0, 0, 0.85);
    color: whitesmoke; 
    z-index: 10;
}
.contenedor{
  width: 1170px;
  margin: 0 auto;
}

.logo {
  float: left;
  margin-top: -15px;
 
}
.logo img{
  
  transform: scale(0.50);
  -ms-transform: scale(0.50);
  -webkit-transform: scale(0.50);
  -moz-transform: scale(0.50);
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
}
.textologo{
  display: block;
  float: left;
  padding-top: 15px;
  font-size: 36px;
}

.progreso{
  margin-top: 100px;
  font-size: 24px;
  padding:25px 0px;
  background: url(imagenes/desarrollo.jpg) ;
  background-size: cover;
  text-align: center;
  border-radius: 10px;
}
.progreso progress{ 
    background-color: rgba(94, 136, 3, 0.5);
    height: 36px; width: 300px;
    border-radius: 6px;
    border: 3px solid rgba(250, 250, 250, 0.6);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.opciones{
  height: 300px;
  margin-top: 20px;
  
}
.opcion {
  position: relative;
  float: left;
  width: 31%;
  height: 280px;
  border-radius: 10px;
  margin: 10px;
  transition-duration: 0.2s;
  
} 
.opcion p{
  margin-left: 15px;
}

.opcion:hover{
  background-color: gainsboro;
  transition-duration: 0.2s;
  transform: scale(1.05,1.05);
  box-shadow: rgba(0, 0, 0, 0.25);
}
 
.opcion-icono{
  padding-left:10px;
  padding-top: 10px;
}
.opcion-icono p{
  position: absolute;
  top:5px;
  left: 10px;
  font-size: 40px;
  color:black;
}

.opcion-icono img{
  width: 96%;
  border-radius: 10px;
}

.opcion a{
  display: block;
  width: 99%;
  height: 99%;
  position: absolute;
  top:0;
  left: 0;
  background-color: rgba(220, 220, 220, 0.301);
  border-radius: 10px;
}
.opcion a:hover,a:focus{
  transition-duration: 0.2s;
  cursor: pointer;
  background-color: rgba(220, 220, 220, 0);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
footer{
  margin-top: 20px;
  height: 80px; 
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
}
.footer-left{
  float: left;
  color: gainsboro;
}

/* .clicable li {
  float: left;
  display: block;
  width: 220px;
  background-color: rgba(96, 136, 3, 0.5);
  border: 3px solid rgba(252, 252, 252, 0.5);
  border-radius: 6px;
  transition-duration: 0.3s;
} */

/*.clicable a{
  color: whitesmoke;
  text-decoration: none;
}*/

/* .clicable li:hover, li:focus{
  background-color: rgba(96, 136, 3, 1);
  color: white;
  border: 3px solid white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
} */


/*img {border: 3px solid rgba(250, 250, 250, 0.6);
    border-radius: 6px;
    
}
*/
form {
    background-color: rgba(0,0,0,0.66);
		width: 400px;
		color: whitesmoke;
		text-align:right;
 }